{% extends 'base.html.twig' %}

{% block title %}Редактировать гостя{% endblock %}

{% block body %}
    <h1>Редактировать гостя</h1>

    {{ include('guest/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('guest_list') }}">Назад</a>

    {{ include('guest/_delete_form.html.twig') }}
{% endblock %}
